@use './partials/palette.scss'; 
@use './partials/fonts.scss'; 

#app {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-grow: 1;
}

.form_content {
  max-width: 400px;
  display: flex;
  gap: 16px;
}

.shop_list{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.icon{
 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;

  width: 32px;
  height: 32px;
  cursor: pointer;
}

// utilities
.check {
  text-decoration: line-through;
}