@use './partials/palette.scss'; 
@use './partials/fonts.scss'; 
@use './partials/badges.scss';
@use './partials/mediaquery.scss'; 

#app {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}


main {
  flex-grow: 1;
}

.item_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  hyphens: auto;
}

.name_badge{
  display: flex;
  align-items: first baseline;
  
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;

  cursor: pointer;
}

.icon:hover{
 
  transform: scale(1.1);
  color: var(--lightpinky);

}

// utilities
.check {
  text-decoration: line-through;
}

.spacing_right{
  margin-right: 20px;
}

ul, ol {
  list-style: none;
}

.button_gray{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--gray);
  color: var(--pinky);
  cursor: pointer;
}
.button_gray:hover{
 
    transform: scale(1.1);
    color: var(--lightpinky);
  
}

