:root{
    --orange: #F6BD60;
    --lightpinky: #FFFEFE;
    --pinky: #F5CAC3;
    --gray: #84A59D;
    --red: #F28482;
}

.bg_orange{
    background-color: var(--orange) !important;
}

.c_orange{
    color: var(--orange) !important;
}

.bg_lightpinky{
    background-color: var(--lightpinky) !important;
}

.c_lightpinky{
    color: var(--lightpinky) !important;
}

.bg_pinky{
    background-color: var(--pinky) !important;
}

.c_pinky{
    color: var(--pinky) !important;
}

.bg_gray{
    background-color: var(--gray) !important;
}

.c_gray{
    color: var(--gray) !important;
}

.bg_red{
    background-color: var(--red) !important;
}

.c_red{
    color: var(--red) !important;
}